@media screen and (max-width: 1400px){
    
    .banner .welcome h2{
       font-size: 60px;
    }   
    nav li{
        font-size: 18px;
    }
    
}

@media screen and (max-width: 960px){
    
    .body-color p {
        font-size: 15px;
    }
    .main-nav{
        font-size: 15px;
    }
    .banner .welcome h2{
       font-size: 40px;
    }   
    
}

@media screen and (max-width: 700px){
    
    .banner .welcome{
        position: relative;
        text-align: center;
        padding: 10px;
    }   
    .banner .welcome br{
        display: none;
    }
    .banner .welcome h2{
        font-size: 25px;
        color: blue;
        background-color: white;
    }
    .banner .welcome span{
        font-size: 1em;
    }
    nav ul{
        font-size: 20px;
        display: block;
        width: 100%;
        /*margin: 12px  0;*/
    }
    header{
        position: relative;
    }
    nav{
        display: block;
        top: 0;
    }
    .images li{
        width: 100%;
        margin: 20px auto;
        display: block;
    }
}

@media screen and (max-width: 385px){
    
    nav{
    width: 100%;
    background-color: #f4f4f4;
    padding-left: 10px;
    
    }
    .subscribes{
    width: 100%;
    background-color: #f4f4f4;
    text-align: center;
    padding: 0;
    color: #4b4b4b;
    }
    .subscribes h2{
    font-size: 24px;
}
    .subscribes p{
    font-size:  15px;
}
    form input{
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 28px;
    border: 4px solid #171716;
}
    header h1{
    font-size: 25px;
    border: 4px solid white;
    padding: 0;
    }
   article h2{
    color: #7b0505;
    font-size: 20px;
    }
    button{
        margin-left: 23%;
    }
    
}
